#hero {
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-position: top center;
    animation: bgChange 8s infinite alternate;
    position: relative;
}

@keyframes bgChange {
    0% {
        background-image: url('/images/hero.jpg');
    }
    100% {
        background-image: url('/images/donation.jpg');
    }
}

#hero::before {
    content: '';
    background: rgba(0, 0, 0, 0.5);
    position: absolute;
    bottom: 0;
    top: 0;
    right: 0;
    left: 0;
}
